/* Dictionary tooltip styles */
#tooltipDiv {
  background: #ccc !important;
  border: solid !important;
  height: auto !important;
  width: 300px !important;
  padding: 10px !important;
}

#tooltipDiv h1, p, a {
  font-family: Arial, Helvetica, sans-serif !important;
}

#tooltipDiv h1 {
  margin: 0px !important;
  padding-bottom: 15px;
}

#tooltipDiv a {
  position: relative !important;
  left: 250px !important;
}
