* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Inter', sans-serif;
    height: 400px;
    width: 600px;
    background: radial-gradient(circle, rgba(106,106,106,1) 17%, rgba(71,71,71,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #ff8514;
    flex-wrap: wrap;
  }

  .button-wrapper {
    margin: 20px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
  }

  .button {
    height: 100%;
    width: 100%;
    background: #373737;
    border: solid #373737;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button:hover {
    cursor: pointer;
  }

  .active {
    border: solid #ff8514;
  }

  img {
    filter: invert(1);
    height: 60px;
    width: 60px;
    user-select: none;
  }

  p {
    font-weight: 400;
    font-size: medium;
    color: white;
    margin: 13px;
    padding-bottom: 3px;
    user-select: none;
  }

  .sub-buttons {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    pointer-events: none;
    overflow: hidden;
  }

  .radio__input {
    display: none;
  }

  .radio__label {
    box-sizing: border-box;
    padding: 11px 11px;
    font-size: 15px;
    cursor: pointer;
    pointer-events: auto;
    margin-top: 118px;
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    width: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid #373737;
    border-radius: 7px;
    background: #525252;
    user-select: none;
  }

  .radio__label:hover {
    background: lightgrey;
  }

  .radio__input:checked + .radio__label {
    border: solid #ff8514;
  }